.node circle {
    fill: #ffffff;
    stroke-width: 1.5px;
  }

.node.free circle{
    stroke: #ff3636;
}
.node.premium circle{
    stroke: #36c6ff;
}
.node.freemium circle{
    stroke: #c936ff;
}
.node.freeWl circle{
    stroke: #ffa536;
}
  
  .node text {
    font: 16px sans-serif;
  }
  
  .node--internal circle {
    fill: #ffffff;
    stroke-width: 1.5px;
    stroke: #000000;
  }
  
  .node--internal text {
    text-shadow: 0 2px 0 #fff, 0 -2px 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff;
  }

  .node--leaf :hover {
    cursor: pointer;
    text-decoration: underline;
}
  
  .link {
    fill: none;
    stroke: #555;
    stroke-opacity: 0.4;
    stroke-width: 1.5px;
  }
  
  label {
    display: block;
  }
  