/* -------------------> LOCAL VARIABLEs <------------------- */
:root{
    --gapGrid: 8px;
    --fontHomeSizeTitle: 2.8vw; /* 45 px */
    --fontHomeSizeDescription: 1.5vw; /* 29 px */
}

/* -------------------> STYLE <------------------- */
.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: calc(calc(100vh / 3) - var(--gapGrid)) calc(calc(100vh / 3) - var(--gapGrid)) calc(calc(100vh / 3) - (var(--gapGrid) * 2));
    gap: var(--gapGrid);
}

.box{
    padding: 5px 20px 5px 10px;
    position: relative;
    background-color: var(--backgroundColor);
}

#box-1{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 4;
}
#box-2{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}
#box-3{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}
#box-4{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}
#box-5{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}
#box-6{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
}
#box-7{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
}

.titleHome{
    margin: 0 0 var(--fontHomeSizeTitle) 0;
    font-size: var(--fontHomeSizeTitle);
}

.subtitleHome{
    margin: 0;
    font-family: "SuisseIntl", "Helvetica", sans-serif;
    font-weight: normal;
    font-size: var(--fontHomeSizeTitle);
    line-height: calc(var(--fontHomeSizeTitle) * 1.1);
}

.pagesInfo{
    margin: 10px 0px;
    font-family: "SuisseIntl", "Helvetica", sans-serif;
    font-weight: normal;
    font-size: var(--fontHomeSizeTitle);
    line-height: var(--fontHomeSizeDescription);
}

.pagesInfo .pagesTitle{
    font-size: var(--fontHomeSizeTitle);
    line-height: var(--fontHomeSizeTitle);
}

.pagesInfo .pagesDescription{
    font-size: var(--fontHomeSizeDescription);
}


.hidden{
    visibility: hidden;
    opacity: 0;
}

.box:hover{
    span:first-of-type + span {
      visibility: visible;
      opacity: 1;
      transition: all 300ms ease-in-out;
    }
  }

.box:hover{
  span:first-of-type {
    display: none;
    opacity: 0;
    transition: all 300ms ease-in-out;
  }
}

a {
    div.box{
        color: var(--mainTextColor);
    }
    text-decoration: none;
    display: flex;
}